# Titanic Data Analysis and Preprocessing

In [ ]:

# Titanic Dataset - EDA and Preprocessing

## Step 1: Import Libraries

In [ ]:

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
```

## Step 2: Load Data

In [ ]:

train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
```

## Step 3: Handle Missing Data

In [ ]:

df = train_df.copy()
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df.drop(columns='Cabin', inplace=True)
```

## Step 4: Encode Categorical Variables

In [ ]:

df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})
df['Embarked'] = df['Embarked'].map({'S': 0, 'C': 1, 'Q': 2})
```

## Step 5: Visualizations

In [ ]:

plt.figure(figsize=(15, 10))

plt.subplot(2, 3, 1)
sns.countplot(data=df, x='Survived')
plt.title("Survival Count")

plt.subplot(2, 3, 2)
sns.countplot(data=df, x='Sex', hue='Survived')
plt.title("Survival by Sex")

plt.subplot(2, 3, 3)
sns.countplot(data=df, x='Pclass', hue='Survived')
plt.title("Survival by Pclass")

plt.subplot(2, 3, 4)
sns.histplot(data=df, x='Age', hue='Survived', bins=30, kde=True)
plt.title("Survival by Age")

plt.subplot(2, 3, 5)
sns.histplot(data=df, x='Fare', hue='Survived', bins=30, kde=True)
plt.title("Survival by Fare")

plt.subplot(2, 3, 6)
sns.countplot(data=df, x='Embarked', hue='Survived')
plt.title("Survival by Embarked")

plt.tight_layout()
plt.show()
```